<div class="row py-2">
  <div class="col-md-6 col-xs-12">

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button"
                *ngFor="let pic of product?.pictures; let i = index"
                [class.active]="i === 0"
                data-bs-target="#carouselExampleIndicators"
                [attr.data-bs-slide-to]=i
                [attr.aria-current]="i === 0"
                [attr.aria-label]="i + 1"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let pic of product?.pictures; let i = index" [class.active]="i == 0">
          <img src="api/v1/picture/{{pic}}" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="col-md-6 col-xs-12">
    <h2>{{product?.name}}</h2>
    <h5>Price: ${{product?.price}}</h5>
    <p>Description</p>
    <p class="text-muted">{{product?.description}}</p>
    <form (ngSubmit)="addToCart(product.id)" class="row">
      <div class="col-auto">
        <button type="submit" class="btn btn-primary">Add to card</button>
      </div>
      <div class="col-auto">
        <input type="number" [(ngModel)]="qty" name="qty" class="form-control"/>
      </div>
    </form>

  </div>
</div>
