<div class="row py-2">
  <div class="col-md-3 col-xs-12">
    <app-product-filter (applyFilterEvent)="applyFilter($event)"></app-product-filter>
  </div>

  <div class="col-md-9 col-xs-12">

    <app-product-pagination [page]="page" (goToPageEvent)="goToPage($event)"></app-product-pagination>

    <app-product-gallery [products]="products"></app-product-gallery>

    <div class="col-md-9 col-xs-12 mt-3">
      <app-product-pagination [page]="page" (goToPageEvent)="goToPage($event)"></app-product-pagination>
    </div>
  </div>

</div>

