<div class="row py-2">
  <div class="col-md-3 col-xs-12">
    <app-product-filter *ngIf="!categoriesLoading" [categories]="categories" (applyFilterEvent)="applyFilter($event)"></app-product-filter>
  </div>

  <div class="col-md-9 col-xs-12">
    <app-product-pagination [page]="page" (goToPageEvent)="goToPage($event)"></app-product-pagination>

    <app-product-gallery *ngIf="!productsLoading" [products]="products"></app-product-gallery>

    <div class="mt-3">
      <app-product-pagination [page]="page" (goToPageEvent)="goToPage($event)"></app-product-pagination>
    </div>
  </div>
</div>

