<th scope="row">{{index}}</th>
<td>
  <a [routerLink]="['/product', lineItem?.productDto?.id]">
    {{lineItem?.productDto?.name}}
  </a>
</td>
<td>
  <input type="number" min="1"
         class="form-control"
         [(ngModel)]="qty"
         [class.is-invalid]="!isValidQty"
         (focusout)="focusOut()"
         (focusin)="focusIn()"/>
</td>
<td>${{lineItem?.itemTotal}}</td>
<td>
  <a class="btn btn-danger"
     (click)="deleteLineItem()"
     [class.disabled]="isUpdating">
    <i class="fa-regular fa-trash-can"></i>
  </a>
</td>
