<div class="row py-2">

  <div class="col-md-9 col-xs-12 mb-3">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product name</th>
        <th></th>
        <th scope="col">Count</th>
        <th scope="col">Price</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>

      <ng-template [ngIf]="allCartDto && !isEmpty" [ngIfElse]="emptyCart">
        <tr app-cart-item
            *ngFor="let lineItem of allCartDto.lineItems; let i = index"
            [index]="i + 1"
            [lineItem]="lineItem"
            (updated)="childEventHandler()">
        </tr>
      </ng-template>

      <ng-template #emptyCart>
        <tr>
          <td colspan="6">Your cart is empty.</td>
        </tr>
      </ng-template>

      </tbody>
    </table>
    <button class="btn btn-danger" (click)="clearCart()" [disabled]="isEmpty">Clear Cart</button>
  </div>

  <div class="col-md-3 col-xs-12">
    <div class="card">
      <div class="card-body">
        <h2>Order summary</h2>
        <p>Total: ${{allCartDto?.subtotal}}</p>
        <button class="btn btn-primary me-2" [disabled]="isEmpty">Create Order</button>
      </div>
    </div>
  </div>

</div>
