<div class="row py-2">

  <div class="col-md-12 col-xs-12 mb-3" *ngIf="isDataReady">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Date</th>
        <th scope="col">Price</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>

      <ng-template [ngIf]="orders && orders.length > 0" [ngIfElse]="emptyOrders">
        <tr *ngFor="let order of orders" [routerLink]="['/order', order.id]">
          <th scope="row">{{order.id}}</th>
          <td>{{dateFormat(order.date)}}</td>
          <td>${{order.price}}</td>
          <td>
            <div class="alert p-1"
                 [ngClass]="setAlertClass(order.status)"
                 role="alert">
              {{order.status}}
            </div>
          </td>
          <td>
            <a class="btn btn-success me-2" [routerLink]="['/order', order.id]"><i class="fas fa-edit"></i></a>
            <a class="btn btn-danger"
               *ngIf="order.status !== 'CANCELED'"
               (click)="cancelOrder(order.id)"><i class="fas fa-stop"></i></a>
          </td>
        </tr>
      </ng-template>

      <ng-template #emptyOrders>
        <tr>
          <td colspan="5">You currently have no orders.</td>
        </tr>
      </ng-template>

      </tbody>
    </table>
  </div>

</div>
