<div class="row row-cols-1 row-cols-md-3 g-4">

  <div class="col" *ngFor="let product of products">
    <div class="card">
      <img class="card-img-top" src="api/v1/picture/{{product.pictures[0]}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text text-truncate text-truncate--3">{{product.description}}</p>
        <h5>${{product.price}}</h5>
        <a routerLink="/product/{{product.id}}" class="btn btn-primary">View</a>&nbsp;
        <a (click)="addToCart(product.id)" class="btn btn-success">Add to cart</a>
      </div>
    </div>
  </div>
  <div class="col" *ngIf="products.length == 0">
    <h3>no results...</h3>
  </div>

</div>
