<div class="row row-cols-1 row-cols-md-3 g-4">

  <div class="col">
    <div class="card">
      <img class="card-img-top" src="https://picsum.photos/100/100?random=1" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Product name</h5>
        <p class="card-text">Short description of product</p>
        <a href="#" class="btn btn-primary">View</a>
        <a href="#" class="btn btn-primary">Add to card</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img class="card-img-top" src="https://picsum.photos/100/100?random=2" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Product name</h5>
        <p class="card-text">Short description of product</p>
        <a href="#" class="btn btn-primary">View</a>
        <a href="#" class="btn btn-primary">Add to card</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img class="card-img-top" src="https://picsum.photos/100/100?random=3" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Product name</h5>
        <p class="card-text">Short description of product</p>
        <a href="#" class="btn btn-primary">View</a>
        <a href="#" class="btn btn-primary">Add to card</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img class="card-img-top" src="https://picsum.photos/100/100?random=4" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Product name</h5>
        <p class="card-text">Short description of product</p>
        <a href="#" class="btn btn-primary">View</a>
        <a href="#" class="btn btn-primary">Add to card</a>
      </div>
    </div>
  </div>

</div>
